table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid grey;
}

th,
td {
    padding: 10px;
    white-space: nowrap;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

/*button {*/
/*    height: 36px;*/
/*    background: #556cd6;*/
/*    color: white;*/
/*    width: 100%;*/
/*    font-size: 14px;*/
/*    border: 0;*/
/*    font-weight: 500;*/
/*    cursor: pointer;*/
/*    letter-spacing: 0.6;*/
/*    border-radius: 0 0 6px 6px;*/
/*    transition: all 0.2s ease;*/
/*    !*box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.7);*!*/
/*}*/

.w-col h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
}

.description h3,
.description h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /*letter-spacing: -0.154px;*/
    color: #242d60;
    margin: 0;
}
.description h5 {
    opacity: 0.5;
}

section {
    background: #dddddd;
    display: flex;
    flex-direction: column;
    /*width: 400px;*/
    height: 112px;
    border-radius: 6px;
    justify-content: space-between;
    align-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background: rgb(158, 118, 104);
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 225px;
    height: 100%;
    padding: 0;
    margin-right: 100px;
    transition: all 0.5s ease;
}

.sidebar ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 5px;
    padding: 0;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*position: relative;*/
}

.sidebar ul li a {
    display: block;
    padding: 13px 30px;
    /*border-bottom: 1px solid;*/
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
    display: block;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
